body {
    background: hsla(270, 94%, 25%, 1);
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#42047E", endColorstr="#07F49E", GradientType=1);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    align-content: center;
}

#webcam_view, #snapshot_area {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}